{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <title>Lintuhavainnot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      html, body {
        height: 100%;
      }
      .navbar{margin-bottom: 0px !important}
      .container {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        min-width: 80%;
        min-height: 100%;
        overflow: hidden;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{{ url_for('index') }}">Lintuhavainnot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('species_search', column='all', searchword='all', conservStatus=0) }}">Lajit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sightings_list') }}">Havainnot</a>
          </li>
          {% if current_user.is_authenticated %}
            {% if current_user.role == "ADMIN" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('species_create') }}">Lisää uusi laji</a>
          </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sightings_add') }}">Lisää havainto</a>
          </li>
          {% endif %}
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <span class="navbar-text">
            Kirjautunut nimellä {{ current_user.name }}
          </span>
          <li class="nav-item">
            <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth_edit') }}">Käyttäjäasetukset</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth_register') }}">Rekisteröidy</a>
          </li>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container bg-light">
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  </body>
</html>
