<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lintuhavainnot</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <p>
	Kirjautunut nimellä {{ current_user.name }}. 
        <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
        <a href="{{ url_for('auth_edit') }}">Käyttäjäasetukset</a>
      </p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      <a href="{{ url_for('auth_register') }}">Rekisteröidy</a>
      {% endif %}
     <ul>
	<li><a href="{{ url_for('species_index') }}">Tarkastele lajilistaa</a></li>
	<li><a href="{{ url_for('species_form') }}">Lisää uusi laji</a></li>
      </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
