{% extends "layout.html" %}

{% block body %}
<h1>Havainnot</h1>
<h2>Eniten havaitut lajit</h2>
<table class="table">
  {% for species in species %}
   <tr><th>{{ species[0] }}:</th><td>{{ species[1] }} havaintoa</td></tr>
  {% endfor %}
</table>

{% if current_user.is_authenticated %}
<form method="GET" action="{{ url_for('sightings_listUserSightings', account_id=current_user.id) }}">
  <button type="submit" class="btn btn-primary">Näytä vain omat havaintoni</button>
</form>
<br>
<form method="GET" action="{{ url_for('sightings_list') }}">
  <button type="submit" class="btn btn-primary">Näytä kaikki havainnot</button>
</form>
<br>
{% endif %}

<h2>Lista havainnoista</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Laji</th><th>Havaintopaikka</th><th>Havaitsija</th><th>Lisätietoja</th>
    </tr>
    </thead>
    <tbody>
    {% for sighting in sightings %}
    <tr>
      <td>{{ sighting[0] }}</td><td>{{ sighting[1] }}</td><td>{{ sighting[2] }}</td><td>{{ sighting[3] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
