{% extends "layout.html" %}

{% block body %}
<h1>Havainnot</h1>

<!--
<h2>Eniten havaitut lajit</h2>
<table class="table">
  {% for species in species %}
   <tr><th>{{ species[0] }}:</th><td>{{ species[1] }} havaintoa</td></tr>
  {% endfor %}
</table>
-->


<h2>Rajaa havaintoja</h2>
<form method="POST" action="{{ url_for('sightings_list',
 column='all', searchword='all', conservStatus='0') }}" role="form"> 
  <div class="row">
    <div class="col">
      {{ wtf.form_field(form.column, class='form-control') }}
    </div>
    <div class="col">
      {{ wtf.form_field(form.searchword, class='form-control') }}
    </div>
  </div>
  <div class="row">
    <div class="col">
    {{ wtf.form_field(form.conservStatus, class='form-control') }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Hae</button>
</form>

<br>

<h2>Lista havainnoista</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Laji</th><th>Havaintopaikka</th><th>Havaitsija</th><th>Lisätietoja</th>
    </tr>
    </thead>
    <tbody>
    {% for sighting in sightings %}
    <tr>
      <td>{{ sighting[0] }}</td><td>{{ sighting[1] }}</td><td>{{ sighting[2] }}</td><td>{{ sighting[3] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
