{% extends "layout.html" %}

{% block body %}

<h1>Havainnot</h1>

<h2 class="inlineHeading">Havaintotilastoja</h2>
<button type="button" data-toggle="collapse" data-target="#statistics">
Näytä/piilota tilastot
</button>

<div class="collapse" id="statistics">
    <div class="row">
      <div class="col">
        <table class="table">
          <tr><th colspan="2">Eniten havaitut lajit</th></tr>
          {% for species in speciesMost %}
          <tr><td>{{ species[0] }}</td><td><i>{{ species[1] }} havaintoa</i></td></tr>
          {% endfor %}
        </table>
      </div>
      <div class="col">
        <table class="table">
          <tr><th colspan="2">Vähiten havaitut lajit</th></tr>
          {% for species in speciesLeast %}
          <tr><td>{{ species[0] }}</td><td><i>{{ species[1] }} havaintoa</i></td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

<br>

<h2>Rajaa havaintoja</h2>

<p><i>Täytä vain ne kentät, joiden perusteella haluat rajata näkyviä havaintoja. Jätä muut tyhjäksi. </i></p>
<form method="POST" action="{{ url_for('sightings_list',
 column='all', searchword='all', conservStatus='0', place='all', habitat='all', account='all') }}" role="form"> 
  <div class="row">
    <div class="col">
      {{ wtf.form_field(form.column, class='form-control') }}
    </div>
    <div class="col">
      {{ wtf.form_field(form.searchword, class='form-control') }}
    </div>
  </div>
  <div class="row">
    <div class="col">
    {{ wtf.form_field(form.conservStatus, class='form-control') }}
    </div>
  </div>
  <div class="row">
    <div class="col">
    {{ wtf.form_field(form.place, class='form-control') }}
    </div>
    <div class="col">
    {{ wtf.form_field(form.habitat, class='form-control') }}
    </div>

    <div class="col">
    {{ wtf.form_field(form.account, class='form-control') }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Hae</button>
</form>

<br>

<h2>Lista havainnoista</h2>
<p><i>{{ searchResultString }}</i></p>
  <table class="table">
    <thead>
    <tr>
      <th>Laji</th><th>Havaintopaikka</th><th>Havaitsija</th><th>Lisätietoja</th>
    </tr>
    </thead>
    <tbody>
    {% for sighting in sightings %}
    <tr>
      <td>{{ sighting[0] }}</td><td>{{ sighting[1] }}, ({{ sighting[2] }})</td><td>{{ sighting[3] }}</td><td>{{ sighting[4] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
