{% extends "layout.html" %}
  
{% block body %}

<h1>Kerro havainnostasi</h1>

<form method="POST" action="{{ url_for('sightings_add') }}" role="form"> 
  <div class="formgroup">
    {{ wtf.form_field(form.species, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.place, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.info, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.habitats, class='form-control') }}
  </div>
  <button type="submit" class="btn btn-primary">Lähetä havainto</button>
</form>


{% endblock %}
