{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<h1>Kirjaudu</h1>
{{ error }}

<form method="POST" action="{{ url_for('auth_login') }}" role="form"> 
  <div class="form-group">
    {{ wtf.form_field(form.username, class='form-control', placeholder='Käyttäjätunnus') }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.password, class='form-control', placeholder='Salasana') }}
  </div>
  <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

{% endblock %}
