{% extends "layout.html" %}

{% block body %}

<h1>Vaihda salasana</h1>

<p>Vanha salasana: {{ oldPw }}</p>

<form method="POST" action="{{ url_for('auth_changepassword') }}">
  <table>
    <tr><td>{{ form.password.label }}</td></tr>
    <tr><td>{{ form.password }}</td></tr>
     <tr>
      <td>
        {% for error in form.password.errors %}
	  <li>{{ error }}</li>
	{% endfor %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Vaihda salasana"/>
      </td>
    </tr>
</form>
{% endblock %}
