{% extends "layout.html" %}
  
{% block body %}

{{ message }}

<h1>Lisää, muokkaa ja poista lajeja</h1>

<p> 
  Voit muokata ja poistaa lajeja suoraan 
  <a href="{{ url_for('species_search', column='all', searchword='all', conservStatus='0') }}">lajilistauksen </a>
  kautta. Lisää uusi laji alla olevalla lomakkeella.
</p>

<h2>Syötä lajin tiedot</h2>
<form method="POST" action="{{ url_for('species_create') }}" role="form"> 
  <div class="formgroup">
    {{ wtf.form_field(form.name, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.species, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_genus, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_family, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_order, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.conserv_status, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.info, class='form-control') }}
  </div>
  <button type="submit" class="btn btn-primary">Lisää uusi laji</button>
</form>

<br>

{% endblock %}
