{% extends "layout.html" %}

{% block body %}

<h1>Muokkaa lajin tietoja</h1>

<h3>Syötä uudet tiedot</h3>

<form method="POST" action="{{ url_for('species_edit_information', species_id=species.id) }}" role="form"> 
  <div class="formgroup">
      {{ wtf.form_field(form.name, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.species, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_genus, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_family, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.sp_order, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.conserv_status, class='form-control') }}
  </div>
  <div class="formgroup">
    {{ wtf.form_field(form.info, class='form-control') }}
  </div>
  <button type="submit" class="btn btn-primary">Lähetä</button>
</form>

{% endblock %}
