{% extends "layout.html" %}

{% block body %}

<h1>Muokkaa lajin tietoja</h1>

<h3>Vanhat tiedot</h3>

  <table>
    <tr>
      <th>Laji</th>
      <th>Tieteellinen nimi</th>
      <th>Kuvaus</th>
    </tr>
    <tr>
      <td>{{ species.name }}</td>
      <td>{{ species.species }}</td>
      <td>{{ species.info }}</td>
    </tr>
  </table>

<h3>Syötä uudet tiedot</h3>
<form method="POST" action="{{ url_for('species_edit_information', species_id=species.id) }}">
    <table>
      <tr><td>{{ form.name.label }}</td></tr>
      <tr>
        <td>{{ form.name }}</td>
        <td>
          <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr><td>{{ form.species.label }}</td></tr>
      <tr>
        <td>{{ form.species }}</td>
        <td>
          <ul>
	    {% for error in form.species.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr><td>{{ form.info.label }}</td></tr>
      <tr><td>{{ form.info }}</td></tr>
      <tr>
 	<td>
          <br>
	  <input type="submit" value="Lähetä"/>
	</td>
      </tr>
    </table>
  </form>

{% endblock %}
