{% extends "layout.html" %}

{% block body %}

<h1>{{ species.name }}, <i>{{ species.species }}</i></h1>

<h3>Tieteellinen luokittelu:</h3>
<table>
    <tr><th>Laji</th><td>{{ species.name }}, {{ nameLatin }}</td></tr>
    <tr><th>Suku:</th><td>{{ species.sp_genus }}</td></tr>
    <tr><th>Heimo:</th><td>{{ species.sp_family }}</td></tr>
    <tr><th>Lahko:</th><td>{{ species.sp_order }}</td></tr>
    <tr><th>Luokka:</th><td>Linnut, Aves</td></tr>
    <tr><th>Alajakso:</th><td>Selkärankaiset, Vertebrata</td></tr>
    <tr><th>Pääjakso:</th><td>Selkäjänteiset, Chordata</td></tr>
    <tr><th>Kunta:</th><td>Eläinkunta, Animalia</td></tr>
</table>

<h3>Uhanalaisuus:</h3>
<p>{{ conservInfo[species.conserv_status] }}</p>

<h3>Tietoa lajista:</h3>
<p>{{ species.info }}</p>

{% endblock %}