{% extends "layout.html" %}

{% block body %}
  <table cellspacing="20">
    <tr>
      <th>Laji</th>
      <th>Tieteellinen nimi</th>
      <th>Kuvaus</th>
    </tr>
    {% for species in species %}
    <tr>
      <td>{{ species.name }}</td>
      <td><i>{{ species.species }}</i></td>
      <td>{{ species.info }}</td>
      <td>
      <form method="GET" action="{{ url_for('species_edit_information', species_id=species.id) }}">
	  <input type="submit" value="Muokkaa tietoja"/>
      </form>
      </td>
      <td>
      <form method="POST" action="{{ url_for('species_delete', species_id=species.id) }}">
	  <input type="submit" value="Poista"/>
      </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
