{% extends "layout.html" %}
  
{% block body %}

<h1>Syötä lajin tiedot</h1>

<form method="POST" action="{{ url_for('species_create') }}">
    <table cellspacing="10">
      <tr><td>{{ form.name.label }}</td></tr>
      <tr><td>{{ form.name }}</td></tr>
      <tr><td>{{ form.species.label }}</td></tr>
      <tr><td>{{ form.species }}</td></tr>
      <tr><td>{{ form.description.label }}</td></tr>
      <tr><td>{{ form.description }}</td></tr>
      <tr>
 	<td>
	  <input type="submit" value="Lisää uusi laji"/>
	</td>
      </tr>
  </form>

{% endblock %}
