{% extends "layout.html" %}
  
{% block body %}

<h1>Syötä lajin tiedot</h1>

<form method="POST" action="{{ url_for('species_create') }}">
    <table cellspacing="10">
      <tr><td>{{ form.name.label }}</td></tr>
      <tr>
        <td>{{ form.name }}</td>
        <td>
          <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr><td>{{ form.species.label }}</td></tr>
      <tr>
        <td>{{ form.species }}</td>
        <td>
          <ul>
	    {% for error in form.species.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr><td>{{ form.description.label }}</td></tr>
      <tr><td>{{ form.description }}</td></tr>
      <tr>
 	<td>
	  <input type="submit" value="Lisää uusi laji"/>
	</td>
      </tr>
  </form>

{% endblock %}
