{% extends "layout.html" %}
  
{% block body %}

<h1>Syötä lajin tiedot</h1>

<form method="POST" action="{{ url_for('species_create') }}">
  <label for="name">Laji, kansakielinen (esim. talitiainen):</label><br>
  <input type="text" name="name"/><br>
  <label for="species">Lajinimi, tieteellinen (esim. Parus major):</label><br>
  <input type="text" name="species"/><br>
  <label for="description">Lajikuvaus:</label><br>
  <textarea name="description" rows="10" cols="30"></textarea><br>
  <br>
  <input type="submit" value="Lisää uusi laji"/>
</form>
{% endblock %}
